/* .kuk{
    color: green;
    display: flex;
    justify-content: space-between;
} */
 *{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

.container{
    max-width: 1350px;
    margin: auto;
}

 .nav-iteam {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    /* background-color: bisque; */

 }

 .detail {
    width: 365px;
    list-style: none;
    display: flex;
    gap: 20px;

 }
.detail a{
    text-decoration: none;
}

.my-btn{
    font-size: 19px 132px;
    color: #ffff;
    padding: 12px 16px;
    border-radius: 5px;
    background-color: #30B868;
    border: none;
}

/* main style */

.banner-img{
   width: 100%;
   max-width: 1600px;
}
.banner-content{

}
.image-inside{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

/* card style */

/* .parent-card-container .Structure {
    text-align: center;
    padding-top: 60px;
    row-gap: 0; */



.headline-parent h1{
    text-align: center;
    font-size: 48px;
    padding-top: 30px;
    /* background-color: aqua; */
}
.headline-parent .para{
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
    color: #627382;
}


.headline-card p{
    text-align: center;
    padding-bottom: 44px;
    color: #627382;
}

.headline-card{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}

.card-iteam{
    background-color: rgb(254, 252, 249);
    box-shadow: rgba(0, 0, 0, 0.062) 7px 7px 8px;
    border-radius: 13px;
    padding: 80px;
    /* border: 1px solid rgba(14, 14, 14, 0.5); */
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    
}
.card-iteam img{
    padding- left: 6px;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 60px;
}
.card-iteam p{
    color: #627382;
}
.parent-card-container{
    display: flex ;
    gap: 15px;
    margin: 0 auto;
}

/* about style */
#about{
    padding: 120px;
    padding-bottom: 0px;
    /* margin: 0 auto; */
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}
#about .about-container .list{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}

/* footer style */

.footer-parent{
    background-color: rgb(8, 1, 57);
    margin-top: 180px;
    /* padding: 0px 120x; */
    align-items: center;
    color: #fff8f3;
}
.footer-parent .parent-footer{
    margin: 80px;
    padding-top: 80px;
    padding: 
}

.footer-parent .logo{
    display: flex;
    justify-content: space-between;    
}

.footer-parent .list-iteam{
    display: flex;
    gap: 20px;
    list-style: none;
    /* color: #fff8f3; */
}

.copyright{
    text-align: center;
    font-size: 16px;
    padding-bottom: 25px;
}